django>=2.0.11
psycopg2==2.7 --no-binary psycopg2
pillow==8.2.0
django-jet
djangorestframework
django-filter
git+https://github.com/mago960806/django-rest-framework-docs.git
django-oauth-toolkit
django-cors-middleware
