
*.xcf

djangoadmin/.idea/

stripecheckouttutorial/Backend/venve/

stripecheckouttutorial/Backend/varEnv.txt

stripecheckouttutorial/Backend/stripecheckout.sqlite

stripecheckouttutorial/Backend/app_e06ec9e7-b121-44fa-a383-54bbda3f9706
