.page-flex-align{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email{
  padding-bottom: 20px;
}

.spacewithscan{
 margin-top: 30px;
}
.paiement{
  display: flex;
  flex-direction: column;
  align-items: center;
  .paypalbutton {
      width: 150px;
      height: 34px;
      --background: var(--ion-color-bouton);
  }
}
