{# test template #}
 {% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Password modified</title>
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
      <link rel="stylesheet" href="{% static 'resetpassword/css/style.css' %}">
</head>
<body>
    <div class="wrapper">
      <h2 class="form-signin-heading">Password has been modified</h2>
        <h3>You can now go back to our application and login.</h3>
    </div>
</body>
</html>
